@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Big Damn Project Tracker</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Track Your Project</h2>
        <p>
            With My Big Damn Project Tracker you can track fabrics, trim, and notions used to build your costumes.
           <p> <b>What with the Name?</b>  It's a firefly reference. A friend said I need a better name
        for my costume photos, so I used a quote from Firefly.
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>Add Supplies to Your Inventory</h2>
        <p>Enter and log materials as you aquire them.You can easily  add, remove, and update your fabric stash.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Inventory", "Index", "Inventories")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Inventory to Your Projects</h2>
        <p>Once you begin a project you can move items from your Inventory to your Project. 
        There you will have a itemized list of everything in your Big Damn Project.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Project", "Index", "Projects")</a></p>
    </div>
</div>