body { 
    background-color: white;
    color: #37474f;
    align-content:center;
}

.container-fluid{
    align-content: center;   
}

a {
  color: #37474f;
}


li {
    list-style:none;
}

input, .btn-default {
    background-color: #90A4AE;
    border-color: black;
}

.btn-default:hover {
    background-color: #455A64;
    color: white;
    border-color: black;
}

 .navbar {
    background: #607D8B;
} 

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    background-color: transparent;
}

.navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-nav > li > a {
    color: black;
    background-color: transparent;
}

#AllInventories {
    background-color: #CFD8DC;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 4px;
}
