body { 
    background-color: #222222;
    color: white; //#37474f ;
    align-content:center;
}

.container-fluid{
    align-content: center;   
}

a {
  color: #607D8B; //#37474f;
  font-size: .9em;
}

a:hover {
    color: white;
}

h2 {
    background-color: #000000;
    color: white;
    padding: 15px;
    
}

.jumbotron {
    text-align: center;
    background-color: #000000;
    color: white;
    margin-top: 15px;
}

#banner img{
    margin: 0 auto;
    max-width: 500px;
    max-height: 700px;
    border: 2px solid black;
    box-shadow:  0 0 15px #607D8B;
    margin-bottom: 10px;
}


li {
    list-style:none;
}

input, .btn-default {
    background-color: #90A4AE;
    border-color: black;
}

.btn-default:hover {
    background-color: #455A64;
    color: white;
    border-color: black;
}

 .navbar {
    background: #616161; //#607D8B;
    box-shadow:  0 2px 0 white;
} 

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    background-color: transparent;
}

.navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-nav > li > a {
    color: white; //black;
    background-color: transparent;
}

#AllInventories {
    background-color: #424242;
    color: #607D8B;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 4px;
}

