body { 
    background-color: rgba(206,  105, 37, 1);
    color:aliceblue;
    align-content:center;
}

a {
  color: black;
}


li {
    list-style:none;
}

input, .btn-default {
    background-color: rgba(224, 176, 54, 1);
    border-color: black;
}

.btn-default:hover {
    background-color: rgba(164, 92, 11, 1);
    color: white;
    border-color: black;
}

.navbar {
    background-color: black;
    background: rgb(86,8, 8);
} 
